<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Client.Properties.Settings.TicTacToeConnectionString"
            connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=TicTacToe;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Client.Properties.Settings.TicTacToeConnectionString1"
            connectionString="Data Source=(localdb)\ProjectsV14;Initial Catalog=TicTacToe;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>